extends ./layout

block content
  main.articles-category
    h1= title
    section.articles-category__theme-list
      h2.visually-hidden Список тем
      ul.themes
        each category in categories
          li.themes__item
            if id === category.id
              a.themes__item-link.themes__item-link--active(href='/articles/category/' + category.id)= category.title
                sup= category.count
            else
              a.themes__item-link(href='/articles/category/' + category.id)= category.title
                sup= category.count
    section.articles-category__list.preview
      h2.visually-hidden Список превью статей
      ul.preview__list
        each article in articles
          li.preview__item
            ul.preview__breadcrumbs
              each category in article.categories
                li.preview__breadcrumbs-item
                  a.preview__breadcrumbs-link(href='#')= category
            if article.picture
              if article.picture2x
              .preview__background
                img.preview__background-image(src='/img/' + article.picture, width='460', height='240', alt='Фотография статьи')
            time.preview__time(datetime=article.publicationDate)= article.publicationDate
            h3.preview__name
              a.preview__name-link(href='/articles/' + article.id)= article.title
            p.preview__text= article.announce
            a.preview__comment(href='/articles/' + article.id)
              | Комментарии
              span.preview__cloud
              b.preview__comment-count= article.commentsCount

