extends ../layout-my

block content
  main
    section.modal.modal--flex
      .popup.popup--new-publication.popup--flex
        .new-publication
          form(action='/articles/add', method='POST', enctype='multipart/form-data')
            .new-publication__header
              h1 Новая публикация
              .new-publication__date-form
                h3 Дата публикации
                .new-publication__date-form-division
                  .new-publication__date-block
                    label(for='new-publication-date', aria-label='Календарь')
                    if isEdit
                      input#new-publication-date(type='text', name='createdDate', placeholder= article.createdDate)
                    else
                      input#new-publication-date(type='text', name='createdDate', placeholder='')
              button.new-publication__button.button.button--colored(type='submit') Опубликовать
            button.popup__button.button.button--popup-close(type='button', aria-label='Закрыть окно')
              | Закрыть
              | окно
            .new-publication__form.form
              .form__wrapper.form__wrapper--intro
                .form__field
                  label
                    if isEdit
                      input(type='text', placeholder='Заголовок', name='title' value= article.title, required='', minlength=30, maxlength=250)
                    else
                      input(type='text', placeholder='Заголовок', name='title' value='', required='', minlength=30, maxlength=250)
                .form__field.form__field--post-image
                  label
                    if isEdit
                      input#image-name-field(type='text', value= article.picture, placeholder='Фотография', readonly='')
                    else
                      input#image-name-field(type='text', value='', placeholder='Фотография', readonly='')
                  .form__image-loader.form__image-loader--publication
                    label
                      input.visually-hidden(type='file' name='image')
                      | Обзор
                  button.button.button--transparent Удалить
                each category, index in categories
                  .new-publication__checkbox.new-publication__checkbox--auto
                    input(type='checkbox', name='categories', value=category.id id='checkbox_' + index)
                    label(for='checkbox_' +  index)= category.title
                a.new-publication__form-link.button.button--transparent(href='#') Добавить категорию
              .form__wrapper.form__wrapper--text
                .form__field.form__field--publication-text
                  label
                    if isEdit
                      textarea(rows='2', placeholder='Анонс публикации' name='announce', minlength=30, maxlength=250)= article.announce
                    else
                      textarea(rows='2', placeholder='Анонс публикации' name='announce', minlength=30, maxlength=250)
                .form__field.form__field--publication-text
                  label
                    if isEdit
                      textarea(rows='5', placeholder='Полный текст публикации' name='fullText', maxlength=1000)= article.fullText
                    else
                      textarea(rows='5', placeholder='Полный текст публикации' name='fullText', maxlength=1000)
            if isError && errors.length
              div.show-errors
                p При отправке формы возникли ошибки:
                ul.show-errors-list
                  each error in errors
                    li= error
      .modal__overlay

